.table {
    max-width: 100%;
}

.table-container :matches(h1, h2, h3) {
    width: 100%
}

td {
    white-space: no-wrap;
    color: white;
    background-color: #1f1f28;
}

.table-count {
    position: absolute;
    right: .5em;
}

table,
th,
td {
    border-bottom: 1px solid gray !important;
}

th,
th button {
    white-space: no-wrap;
    color: white;
    background-color: #2f2f38;
    font-weight: bold ! important;
    font-size: large ! important;
}

.linked {
    cursor: pointer
}

td:first-child {
    font-weight: bold;
}

.nowrap {
    white-space: nowrap;
}

.clickable-row {
    cursor: pointer;
}

tr.active td {
    background-color: #1f1f28;
}

button {
    cursor: pointer
}

td:first-child>a {
    color: #ffffff !important
}

.event-table>td:first-child>a:hover {
    color: #0000ff !important
}

tr.my-task * {
    background-color: #024
}

td:not(:first-child),
th:not(:first-child) {
    text-align: center;
}