.table {
    color: white;
    max-width: 100%;
}

.table-container :matches(h1, h2, h3) {
    width: 100%
}

td {
    white-space: no-wrap;
    color: white;
    background-color: #0f0f18;
}

.table-count {
    position: absolute;
    right: .5em;
}

th {
    white-space: no-wrap;
    color: white;
    font-weight: bolder;
    background-color: #1f1f28;
    font-size: large
}

.linked {
    cursor: pointer
}

td:first-child {
    font-weight: bold;
}

.nowrap {
    white-space: nowrap;
}

.clickable-row {
    cursor: pointer;
}

tr.active td {
    background-color: #1f1f28;
}

button {
    cursor: pointer
}