.App {
  background-color: #282c34;
}

.container {
  margin-bottom: 5em;
}

.navbar {
  padding-left: 5em;
  padding-right: 5em;
}

.footer {
  padding-top: 1em;
  text-align: center;
  background-color: black;
}

.jumbotron {
  background-color: #555;
}

.model-header :first-child {
  float:left
}

.model-header :not(:first-child) {
  float:right
}


.model-header + * {
  clear:both
}