.App {
  background-color: #282c34;
}

.navbar {
  padding-left: 5em;
  padding-right: 5em;
}

.footer {
  padding-top: 1em;
  text-align: center;
  background-color: black;
}

.jumbotron {
  background-color: #555;
}