.App {
    background-color: #282c34;
}

.navbar {
    padding-left: 5em;
    padding-right: 5em;
}

main>.container {
    padding: 15px 15px 0;
}

footer * {
    margin: 0;
    font-size: small;
}

.my-footer {
    padding: .5em;
    text-align: center;
    background-color: black;
}

.jumbotron {
    background-color: #555;
}

.model-header :first-child {
    float: left
}

.model-header :not(:first-child) {
    float: right
}

.model-header+* {
    clear: both
}

.spacer {
    margin: 0.5em
}

.align-right {
    width: 100%;
    text-align: right;
}

.align-right {
    width: 100%;
    text-align: right;
}

.div-group {
    background-color: #0f0f18;
    padding: 10px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 5px;
}