{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<p>
    For web site technical issues, contact 
    <a href='mailto:marcus.s.lindblom@gmail.com'>marcus.s.lindblom@gmail.com</a>.
    <br/>
    For issues w.r.t. the club, events and tasks, contact
    <a href='mailto:info@team13.se'>info@team13.se</a>.
</p>

<address>
    GKRC Team 13<br />
    Bulyckevägen 20<br />
    418 78 Göteborg<br>
</address>

<address>
    Tel: 031-56 29 60<br />
    Fax: 031-56 59 46<br />
    Mail: <a href="mailto:info@team13.se">info@team13.se</a>
</address>

{% endblock %}