{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <form action="." method="post" class="form-horizontal">
                {% csrf_token %}
                <h4>Logga in med dina uppgifter, eller<br/>
                    <a href="{% url 'signup' %}">registrera dig</a>
                    om du inte gjort det redan.
                </h4>
                {{form.as_p}}                
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="Logga in" class="btn btn-default btn-primary" />
                    </div>
                </div>
                <p>
                    <a href="{% url 'password_reset' %}">Glömt lösenordet?</a>
                </p>
                {% if form.errors %}
                <p class="validation-summary-errors">Ange en korrekt email- och lösenordskombination.</p>
                {% endif %}
            </form>
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            <h4>Logga in via extern tjänst</h4>
            <p>Vi kommer förhoppningsvis stödja login via Google, Facebook, Twitter och
            annat framöver, så slipper du komma ihåg lösenordet hit.</p>
            <p>När det är klart kan du göra det här. :-)</p>
        </section>
    </div>
</div>

{% endblock %}


{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
