{% if user.is_authenticated %}
<form id="logoutForm" action="/app/logout/" method="post" class="navbar-right">
    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        {% if user.is_staff %}
            <li class="nav-item"><a class="nav-link" href="/admin/">Administrera</a></li>
        {% endif %}
        <li class='nav-item'><a class="nav-link" href='/frontend/profile'>Hej {{ user.username }}!</a></li>
        <li class="nav-item"><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Logga ut</a></li>
    </ul>
</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Logga in</a></li>
</ul>

{% endif %}
